* {
    margin: 0;
    padding: 0;
}

body {
    width: 100% !important;
}

.h-100vh {
    height: 100vh !important;
}

.content {
    margin-top: 65px;
    padding: 20px 0;
}

.badge {
    background-color: #17a2b8;
}

.page-footer a {
    color: #17a2b8 !important;
}

.page-footer {
    padding: 15px 0;
}

.p-card {
    margin-bottom: 25px;
}

/* navbar */

.navbar {
    padding: 12px 0;
}

.navbar-brand {
    font-size: 1.4rem;
}

.dropdown-item.active {
    background-color: #17a2b8;
    font-weight: 400 !important;
    font-size: 1.1rem;
}

.navbar-nav li a {
    font-weight: 200;
}

.dropdown-item.active span {
    background-color: #fff;
    color: #17a2b8;
}

/* navbar */ 

.p-card {
    margin-bottom: 25px;
}

.p-card p {
    font-size: 0.96rem;
}

.close {
    font-size: 1.4rem !important;
}

.btn-link {
    color: #17a2b8;
}

.btn-link:hover {
    color: #17a2b8 !important;
}

.breadcrumb a {
    color: #17a2b8 !important;
}

.s-table th {
    font-size: 0.8rem;
    font-weight: 400;
}